header, .nav-wrapper {
  background-color: rgb(65, 141, 141);
}

nav, div.nav-wrapper {
  box-shadow: 0 0 0;
}

#nav-mobile li {
  line-height: 35px;
  margin-top: 15px;
}

#nav-mobile li:first-child {
  border: 1px solid white;
}

#nav-mobile li:last-child {
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

#nav-mobile li.active {
  background-color: rgb(93, 199, 199);
}

table {
  box-shadow: 0 0 10px rgb(165, 163, 163);
}

td {
  border-right: 1px solid rgb(190, 190, 190);
  line-height: 15px;
}

td:last-child {
  border: none;
}

.label {
  font-size: 10px;
  color: gray;
  margin: 0;
}

p {
  margin: 0;
}

td:nth-child(1), td:nth-child(2) {
  width: 250px;
}

td:nth-child(4) {
  width: 100px;
}

td:nth-child(3), td:nth-child(5) {
  width: fit-content;
}

.modal {
  max-width: 800px;
}

h5 {
  border-bottom: 1px solid rgb(160, 158, 158);
}

a.modal-trigger {
  color: rgb(65, 141, 141);
}

i {
  margin: 0 10px;
}

a.close {
  color: black;
}

.search {
  margin: 0;
}

.numberCircle {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  text-align: center;
  font-size: 15px;
  border: 1px solid #666;
  display: inline-block;
}

h6.panel-heading {
  display: inline-block;
  color: #666;
  font-size: 18px;
  margin-left: 10px;
}

ul.panel-nav li {
  margin: 10px 0;
}

.panel {
  border-left: 2px solid black;
  margin-top: 25px;
}

.circle {
  height: 50px;
  width: auto;
}

div.card-content {
  padding: 10px !important;
}

div.image {
  padding-left: 10px;
}

p.mail {
  color: #666 !important;
  font-size: 14px;
}

.horizontal {
  border: 2px solid white;
  box-shadow: 0 0 10px rgb(165, 163, 163);
  overflow: hidden;
}

.horizontal.selected {
  border: 2px solid rgb(65, 141, 141);
  box-shadow: none;
}

label.label-icon {
  position: relative;
  display: inline-block;
}

#search {
  display: inline-block;
  width: auto;
}

.panel-nav {
  margin-top: 30px;
}

.btn.left {
  margin-left: 20px;
}

.company {
  margin: 0;
  padding: 7px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

.company.selected {
  background-color: rgba(65, 141, 141, 0.473);
}

.company-list {
  border-top: 1px solid black;
  padding: 0;
  margin-left: 10px !important;
}

.company-list div.col {
  padding: 0;
}