header, .nav-wrapper {
  background-color: rgb(65, 141, 141);
}

nav, div.nav-wrapper {
  box-shadow: 0 0 0;
}

#nav-mobile li {
  border: 1px solid white;
  line-height: 35px;
  margin-top: 15px;
}

#nav-mobile li.active {
  background-color: rgb(93, 199, 199);
  border-right: 0;
}

table {
  box-shadow: 0 0 10px rgb(165, 163, 163);
}

td {
  border-right: 1px solid rgb(190, 190, 190);
  line-height: 15px;
}

td:last-child {
  border: none;
}

.label {
  font-size: 10px;
  color: gray;
  margin: 0;
}

p {
  margin: 0;
}

td:nth-child(1), td:nth-child(2) {
  width: 250px;
}

td:nth-child(4) {
  width: 100px;
}

td:nth-child(3), td:nth-child(5) {
  width: fit-content;
}

.modal {
  max-width: 800px;
}

h5 {
  border-bottom: 1px solid rgb(160, 158, 158);
}

a.modal-trigger {
  color: rgb(65, 141, 141);
}

i {
  margin: 0 10px;
}

a.close {
  color: black;
}

.search {
  margin: 0;
}